html {
  overflow: hidden;
}

body {
  border: 0;
  margin: 0;
  width: 600px;
  padding: 5px 0;
  font-size: 12px;
  overflow: hidden;
  user-select: none;
  background-color: #fff;
  font-family: arial, sans-serif;
}

table {
  width: 100%;
  margin: auto;
  empty-cells: show;
  table-layout: fixed;
  border-spacing: 5px 0;
}

table tr td {
  border: 0;
  padding: 0;
  height: 64px;
  transition: 100ms ease all;
  font-family: arial, sans-serif;
  border: solid 1px rgba(0,0,0,0.05);
}

table tr td[type="selected"] {
  position: relative;
  border: solid 1px #8d8d8d;
}

table tr td[type="selected"]:before {
  top: 2px;
  left: 5px;
  content: '✓';
  color: #808080;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  font-family: monospace;
}

table tr td.separator {
  border: 0;
  padding: 0;
  height: 5px;
}

#section-1 table tr td[id]:not([type="selected"]):hover, 
#section-2 table tr td[id]:not([type="selected"]):hover {
  cursor: pointer;
  border: solid 1px rgb(214, 214, 214);
}

#mobile-browsers, #footer {
  height: 100%;
}

#desktop-browsers, #operating-systems {
  height: 50%;
}

#section-1, #section-2, #section-3 {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#section-2, #section-3 {
  margin: 5px 0 0 0;
}

#url {
  margin: 0;
  outline: 0;
  padding: 0;
  color: #555;
  width: 100%;
  height: 38px;
  font-size: 12px;
  text-indent: 10px;
  vertical-align: middle;
  background-color: #fff;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px #8d8d8d;
}

.button {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 42px;
  cursor: pointer;
  transition: 100ms ease all;
  border: solid 1px rgba(0,0,0,0.05);
}

.button svg {
  fill: #808080;
  pointer-events: none;
  vertical-align: middle;
}

.button:hover {
  border-color: rgb(214, 214, 214);
}

.description {
  color: #fff;
  height: 28px;
  font-size: 11px;
  text-align: left;
  font-weight: 600;
  user-select: none;
  text-indent: 10px;
  border: 0 !important;
  font-family: monospace;
  background-color: #808080;
  cursor: default !important;
  box-shadow: 0 14px 0 rgb(255 255 255 / 10%) inset;
}

.userinput {
  padding: 0;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  text-align: center;
  border: 0 !important;
  box-shadow: none !important;
}

#ios {background: url("./icons/32/ios.png") no-repeat center center}
#tizen {background: url("./icons/32/tizen.png") no-repeat center center}
#android {background: url("./icons/32/android.png") no-repeat center center}
#symbian {background: url("./icons/32/symbian.png") no-repeat center center}
#windowsp {background: url("./icons/32/windowsp.png") no-repeat center center}
#firefoxos {background: url("./icons/32/firefoxos.png") no-repeat center center}

#edge {background: url("./icons/32/edge.png") no-repeat center center}
#opera {background: url("./icons/32/opera.png") no-repeat center center}
#chrome {background: url("./icons/32/chrome.png") no-repeat center center}
#safari {background: url("./icons/32/safari.png") no-repeat center center}
#firefox {background: url("./icons/32/firefox.png") no-repeat center center}
#explorer {background: url("./icons/32/explorer.png") no-repeat center center}

#mac {background: url("./icons/32/mac.png") no-repeat center center}
#ibm {background: url("./icons/32/ibm.png") no-repeat center center}
#linux {background: url("./icons/32/linux.png") no-repeat center center}
#freebsd {background: url("./icons/32/freebsd.png") no-repeat center center}
#windowsd {background: url("./icons/32/windowsd.png") no-repeat center center}
#chromeOS {background: url("./icons/32/chromeOS.png") no-repeat center center}